{{#if defiles}}
<div class="infoDefiles">
    <h4>Profession:</h4>
    <p>Mannequin</p>
    <h4>Principal(aux) défilé(s):</h4>
    {{#each defiles}}
        <p>{{this.lieuDefile}} ({{formatDate this.dateDefile 'MMMM YYYY'}}) de <a href="/repertoire/vip/{{this.couturierNumero}}">{{this.couturierPrenom}} {{this.couturierNom}}</a></p>
    {{/each}}
</div>
{{/if}}