{{#if liaisons}}
<div class="infosLiaisons">
    <h4>Liaison(s):</h4>
    {{#each liaisons}}
        <p>
            <a href="/repertoire/vip/{{this.numeroAmant}}">{{this.prenomAmant}} {{this.nomAmant}}</a>
            ({{formatDate this.finLiaison 'MMMM YYYY'}})
            <strong>Raison Fin Liaison:</strong>
            {{this.motifFin}}
        </p>
    {{/each}}
</div>
{{/if}}