{{> listeLettres }}

<div class="dataVip">
    <img src="/images/vip/{{photoOfficielle}}" alt="{{nomPrenomVip}}" />
    <div class="vipDataEntry">
        <h4>Nom:</h4>
        <p>{{nomPrenomVip}}</p>
    </div>
    <div class="vipDataEntry">
        <h4>Date de naissance:</h4>
        <p>{{formatDate dateNaissance 'dddd D MMMM YYYY' }}</p>
    </div>
    <div class="vipDataEntry">
        <h4>Nationalité:</h4>
        <p>{{nationalite}}</p>
    </div>
    <div class="vipDataEntry">
        <h4>Principal(aux) film(s):</h4>
        {{#each films}}
            <p>{{this.nomFilm}} ({{formatDate this.dateRealisation 'MMMM YYYY'}})</p>
        {{/each}}
    </div>
    <div class="vipDataEntry">
        <h4>Principal(aux) défilé(s):</h4>
        {{#each defiles}}
            <p>{{this.lieuDefile}} ({{formatDate this.dateDefile 'MMMM YYYY'}}) de <a href="/repertoire/vip/{{this.couturierNumero}}">{{this.couturierPrenom}} {{this.couturierNom}}</a></p>
        {{/each}}
    </div>
    <div class="vipDataEntry">
        <h4>Mariage(s):</h4>
        {{#each mariages}}
            <div class="mariageEntry">
                <p><a href="/repertoire/vip/{{this.conjoint}}">{{this.prenomConjoint}} {{this.nomConjoint}}</a> ({{formatDate this.dateMariage 'MMMM YYYY'}}{{#if this.finMariage}} --> {{formatDate this.finMariage 'MMMM YYYY'}}{{/if}})</p>
                <h4>Lieu:</h4>
                <p>{{this.lieu}}</p>
            </div>
        {{/each}}
    </div>
    <div class="vipDataEntry">
        <h4>Qui suis-je ?:</h4>
        <p>{{texteVip}}</p>
    </div>
    <div class="gallery">
        {{#each photosNonOfficielles }}
            <a href="/images/vip/{{this.adrPhoto}}"  data-lightbox="{{this.adrPhoto}}" data-title="{{this.sujetPhoto}} - {{this.commPhoto}}">
                <img src="/images/vip/{{this.adrPhoto}}" alt=""/>
            </a>
        {{/each}}
    </div>
</div>
