{{> listeLettres }}

{{#each vips}}
    <div class="blockVip">
        <img src="/images/vip/{{this.adrPhoto}}" alt="{{this.prenomVip}} {{this.nomVip}}">
        <p><a href="/repertoire/vip/{{this.vipNumero}}">{{this.prenomVip}} {{this.nomVip}}</a></p>
    </div>
{{/each}}