<h1> Cliquez sur une lettre: </h1>

{{#each vips}}
    <div>
        <img src="/images/vip/{{this.adrPhoto}}" alt="{{this.prenomVip}} {{this.nomVip}}">
        <p>{{this.prenomVip}} {{this.nomVip}}</p>
    </div>
{{/each}}